<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/index.css">
    <title>Node Postgres Blog</title>
</head>

<body>
    <div class="container">
        <%- include('header', { url: url, user: user }); %>
        <div class="row">
            <div class="col">
                <% articles.forEach(function(article) { %>
                <div class="article-card">
                    <h2>
                        <a href="/<%=article.alias %>">
                            <%= article.title %>
                        </a>
                    </h2>
                    <p><%= article.preview %></p>
                    <span><%= authors[article.user_id] %></span><br />
                    <span><%= article.created_at.toLocaleDateString("en-US", { month: 'short', day: 'numeric', year: 'numeric' }) %></span>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</body>

</html>